{% extends '@layouts::base.twig' %}

{#
 # Email subject
 # ---
 # Edit your payment details
 #}

{# title - start #}
{% block title %}
  {% verbatim %}
    {% capture title %}Edit your payment details{% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# title - end #}

{# preview - start #}
{% block preview %}
  {% verbatim %}
    {% capture preview %}Follow the link to edit your payment details for subscription orders at {{ shop.name }}. If you didn’t request a change to your payment method, you can safely delete this email.{% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# preview - end #}

{# content - start #}
{% block content %}
  {% embed '@components::local/intro-text.twig' with {
    headline: '{{ title }}',
    text: 'Follow the link to edit your payment details for subscription orders at <a href="{{ shop.url }}">{{ shop.name }}</a>. If you didn’t request a change to your payment method, you can safely delete this email.'
  } %}
    {% block topline_outer %}{% endblock %}
  {% endembed %}

  {% embed '@components::local/actions.twig' with {
    primary: {
      url: '{{ email_confirmation_url }}',
      text: 'Edit payment details'
    }
  } %}
    {% block secondary_outer %}{% endblock %}
  {% endembed %}
{% endblock %}
{# content - end #}