{% extends '@layouts::base.twig' %}

{#
 # Email subject
 # ---
 # Customer account password reset
 #}

{# title - start #}
{% block title %}
  {% verbatim %}
    {% capture title %}Reset your password{% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# title - end #}

{# preview - start #}
{% block preview %}
  {% verbatim %}
    {% capture preview %}Follow this link to reset your customer account password at {{ shop.name }}. If you didn’t request a new password, you can safely delete this email.{% endcapture %}
  {% endverbatim %}

  {{ parent() }}
{% endblock %}
{# preview - end #}

{# content - start #}
{% block content %}
  {% embed '@components::local/intro-text.twig' with {
    headline: '{{ title }}',
    text: 'Follow this link to reset your customer account password at <a href="{{ shop.url }}">{{ shop.name }}</a>. If you didn’t request a new password, you can safely delete this email.'
  } %}
    {% block topline_outer %}{% endblock %}
  {% endembed %}

  {% include '@components::local/actions.twig' with {
    primary: {
      url: '{{ customer.reset_password_url }}',
      text: 'Reset your password'
    }
  } %}
{% endblock %}
{# content - end #}