{% block header_outer %}
  <mj-section padding-bottom="40px">
    <mj-column>
      {% block header %}
        {% verbatim %}
          <mj-raw>
            {% if shop.email_logo_url %}
          </mj-raw>
        {% endverbatim %}

          <mj-text font-size="0">
            <a
              href="{% verbatim %}{{ shop.url }}{% endverbatim %}"
              style="display: inline-block;"
            >
              <img
                src="{{ development ? server ~ '/assets/logo.png' : '{{ shop.email_logo_url }}' }}"
                alt="{% verbatim %}{{ shop.name }}{% endverbatim %}"
                width="{% verbatim %}{{ shop.email_logo_width }}{% endverbatim %}"
              >
            </a>
          </mj-text>

        {% verbatim %}
          <mj-raw>
            {% else %}
          </mj-raw>
        {% endverbatim %}

          <mj-text
            font-size="32px"
            font-weight="700"
          >
            <a
              href="{% verbatim %}{{ shop.url }}{% endverbatim %}"
              style="display: inline-block; color: {{ style.color.black }}"
            >
              {% verbatim %}{{ shop.name }}{% endverbatim %}
            </a>
          </mj-text>

        {% verbatim %}
          <mj-raw>
            {% endif %}
          </mj-raw>
        {% endverbatim %}
      {% endblock %}
    </mj-column>
  </mj-section>
{% endblock %}